.squares-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.loader {
  width: 26px;        
  height: 26px;       
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1s linear infinite;
  box-sizing: border-box;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 20px;       
  height: 20px;      
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
  box-sizing: border-box;
}

.loader::before {
  width: 14px;
  height: 14px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotationBack {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
