@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body {
    background-color: #180715;
    /* background-color: rgb(116, 99, 99); */
    overflow-x: hidden;
}

