

.textEffect3d{ 
    position: absolute;
   top: 50%;
   left: 50%;
   transform:perspective(1000px) translate(-50% ,-50%) skewY(0deg) ;
   transition: 0.5s;
   padding: 7px;
     width: 340px;
    height: 100px;
}

.textEffect3d:hover{ 
      transform:perspective(1000px) translate(-50% ,-50%) skewY(10deg) ;
  }


.textEffect3d h1 {
    width: 340px;
    height: 100px;


}
      

.textEffect3d h1 span {
  position: absolute;
  top:0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  transform-style: preserve-3d;
  transition: all 0.3s;
  pointer-events: none;
   width: 100%;
   height: 100%;

}

.textEffect3d h1 span:nth-child(1) {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 48%, 0 48%);
  clip-path: polygon(0 0, 100% 0, 100% 48%, 0 48%);

  background: linear-gradient(to right, #a78bfa 0%, #f9a8d4 100%);
  -webkit-background-clip: text; 
  background-clip: text;      
  color: transparent;
  -webkit-text-fill-color: transparent; 

  
}

.textEffect3d h1 span:nth-child(2) {
  
  transform: skewX(0deg);
  left:0;
  -webkit-clip-path: polygon(0 46%, 100% 46%, 100% 54%, 0 54%);
  clip-path: polygon(0 46%, 100% 46%, 100% 56%, 0 56%);
  background: linear-gradient(to right, #a78bfa 0%, #f9a8d4 100%);
  -webkit-background-clip: text; 
  background-clip: text;      
  color: transparent;
  -webkit-text-fill-color: transparent; 

}

.textEffect3d h1 span:nth-child(3) {
 
  transform: skewX(0deg);
  left:0;
  -webkit-clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);

   /* next properties for text bg */
  background: linear-gradient(to right, #a78bfa 0%, #f9a8d4 100%);
  -webkit-background-clip: text; 
  background-clip: text;      
  color: transparent;
  -webkit-text-fill-color: transparent; 

}


.textEffect3d:hover h1 span:nth-child(2)  {
  transform:skewX(-60deg);
  left: -5px;
   background: linear-gradient(to right, #a78bfa 0%, #f9a8d4 100%);
  -webkit-background-clip: text; 
  background-clip: text;      
  color: transparent;
  -webkit-text-fill-color: transparent; 


}

.textEffect3d:hover h1 span:nth-child(3) {
   transform:skewX(0deg); 
  left: -14px;
}

/* unify all span colors on hover */
.textEffect3d:hover h1 span {
/* next properties for text bg */
  background: linear-gradient(to right, #f5e1ff 0%, #ffd6f2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;


}

@media (max-width : 700px) {
  
  .textEffect3d h1 span {

      font-size: 3.5rem;
  font-weight:700;
  }
}
 